 .u-section-1 {
  background-image: url("//images01.nicepagecdn.com/c461c07a441a5d220e8feb1a/8f0f80d2cf0654cab8ce6365/137cf549-2264-0d06-7dbf-32fdc057e668.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 982px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 33px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 18px 0 0;
}

.u-section-1 .u-slider-1 {
  min-height: 736px;
  width: 1071px;
  height: auto;
  margin: 0 auto 17px;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 79px;
}

.u-section-1 .u-text-3 {
  margin: 28px auto 0;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  background-image: linear-gradient(to right, #48566a, #9e06b0);
  box-shadow: 2px 0px 8px 0px rgba(128,128,128,1);
  margin: 22px auto 0;
}

.u-section-1 .u-text-4 {
  font-size: 0.875rem;
  margin: 18px 1px 0;
}

.u-section-1 .u-text-5 {
  font-size: 0.875rem;
  margin: 26px auto 0 1px;
}

.u-section-1 .u-text-6 {
  font-size: 0.875rem;
  margin: 0 auto 0 1px;
}

.u-section-1 .u-text-7 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 1px 741px 0 1px;
}

.u-section-1 .u-text-8 {
  font-size: 0.875rem;
  margin: -1px auto 0 1px;
}

.u-section-1 .u-text-9 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 0 741px 0 1px;
}

.u-section-1 .u-text-10 {
  font-size: 0.875rem;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-11 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 0 741px 0 1px;
}

.u-section-1 .u-text-12 {
  font-size: 0.875rem;
  margin: 0 auto 0 1px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-13 {
  margin: 30px auto 0;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  background-image: linear-gradient(to right, #48566a, #9e06b0);
  box-shadow: 2px 0px 8px 0px rgba(128,128,128,1);
  margin: 15px auto 0;
}

.u-section-1 .u-text-14 {
  font-size: 0.875rem;
  margin: 25px 92px 0 68px;
}

.u-section-1 .u-text-15 {
  font-size: 0.875rem;
  margin: 33px auto 0 68px;
}

.u-section-1 .u-text-16 {
  font-size: 0.875rem;
  margin: 0 auto 0 68px;
}

.u-section-1 .u-text-17 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 0 832px 0 68px;
}

.u-section-1 .u-text-18 {
  font-size: 0.875rem;
  margin: -4px auto 0 68px;
}

.u-section-1 .u-text-19 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 0 832px 0 68px;
}

.u-section-1 .u-text-20 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 112px 832px 0 68px;
}

.u-section-1 .u-text-21 {
  font-size: 0.875rem;
  margin: -4px auto 0 68px;
}

.u-section-1 .u-text-22 {
  font-size: 0.875rem;
  margin: -263px auto 21px 68px;
}

.u-section-1 .u-carousel-control-1 {
  width: 43px;
  height: 43px;
  background-image: none;
}

.u-section-1 .u-carousel-control-2 {
  width: 43px;
  height: 43px;
  background-image: none;
  left: auto;
  position: absolute;
  right: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 810px;
  }

  .u-section-1 .u-slider-1 {
    width: 940px;
  }

  .u-section-1 .u-text-3 {
    font-weight: 700;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 542px;
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
  }

  .u-section-1 .u-text-9 {
    margin-right: 542px;
    margin-left: 0;
  }

  .u-section-1 .u-text-11 {
    margin-right: 542px;
    margin-left: 0;
  }

  .u-section-1 .u-text-12 {
    margin-left: 0;
  }

  .u-section-1 .u-text-13 {
    font-weight: 700;
  }

  .u-section-1 .u-text-14 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-15 {
    margin-left: 0;
  }

  .u-section-1 .u-text-16 {
    margin-left: 0;
  }

  .u-section-1 .u-text-17 {
    margin-right: 700px;
    margin-left: 0;
  }

  .u-section-1 .u-text-18 {
    margin-left: 0;
  }

  .u-section-1 .u-text-19 {
    margin-right: 700px;
    margin-left: 0;
  }

  .u-section-1 .u-text-20 {
    margin-right: 700px;
    margin-left: 0;
  }

  .u-section-1 .u-text-21 {
    margin-left: 0;
  }

  .u-section-1 .u-text-22 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 620px;
  }

  .u-section-1 .u-slider-1 {
    width: 720px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 420px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 420px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 420px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 480px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 480px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 480px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 465px;
  }

  .u-section-1 .u-slider-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 280px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 280px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 280px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 300px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 300px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 300px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 293px;
  }

  .u-section-1 .u-slider-1 {
    width: 340px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 80px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 80px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 80px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 100px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 100px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 100px;
  }
}